.popup {
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 999;
}

.popup_is-opened {
  display: flex;
}

.popup__content {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
}

.popup__form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 5px;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__error {
  color: #ff0000;
  font-size: 12px;
  line-height: 15px;
  min-height: 30px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.popup__error_visible {
  visibility: visible;
  opacity: 1;
}

.popup__button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  border: 1px solid #000000;
  margin-top: 18px;
  cursor: pointer;
  transition:
    opacity 0.3s,
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
}

.popup__button:hover {
  opacity: 0.8;
}

.popup__button:disabled {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  cursor: default;
  opacity: 1;
}

.popup__close {
  width: 35px;
  height: 35px;
  background: transparent url("../images/close.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: -39px;
  right: -37px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__content_content_image {
  max-width: 75vw;
  max-height: 75vh;
  height: auto;
  width: auto;
  display: flex;
  background: transparent;
  border-radius: 0;
  padding: 0;
}

.popup__image {
  max-width: 100%;
  object-fit: cover;
}

.popup__caption {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  margin: 0;
}

@media screen and (max-width: 544px) {
  .popup__content {
    width: calc(100% - 38px);
    padding: 25px 22px;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }

  .popup__close {
    right: 0;
    top: -36px;
    width: 26px;
    height: 26px;
  }
}
